:root {
  --darkcol: #1a2e2c;
  --mid1col: #71a9a3;
  --mid2col: #99cccc;
  --mid3col: #c0ede8;
  --lightcol: #d5f3f0;
  --vlightcol: #e6eded;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}

p {
  font-family: "Spectral", serif;
}

a:visited {
  color: var(--darkcol);
}

.mainnav a:hover {
  background-color: var(--lightcol);
}


h1 {
  text-align: center;
  padding: 5%;
  background-color: var(--darkcol);
  font-size: 2.5rem;
}

.claytonphoto {
  width: 50%;
  display: block;
  margin: auto;
  padding: 10%;
  border-radius: 100%;
}

.white {
  color: var(--vlightcol);
}

.white:link,
.white:visited {
  color: var(--mid3col);
}

.siteheading {
  background-color: var(--lightcol);
}

.mainnav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainnav a {
  font-family: "Karla", sans-serif;
  text-decoration: black;
  font-size: larger;
  width: 100%;
  text-align: center;
  padding: 6px;
}

.about {
  background-color: var(--mid1col);
}

.work {
  background-color: var(--mid2col);
}

.contact {
  background-color: var(--mid3col);
}

.pageabout,
.pagework,
.pagecont {
  padding: 2% 10%;
}



.largephoto {
  width: 100%;
  border: var(--lightcol) solid 1px;
}

.pagework {
  background-color: var(--darkcol);
  color: var(--vlightcol);
}

.smallphoto {
  width: 100%;
  border: var(--lightcol) solid 1px;
}

.smallphoto:hover, .largephoto:hover {
  opacity: 80%;
}

.contactsbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  text-align: center;
  margin: 1%;
  padding: 1% 8%;
}

.icon {
  font-size: 4rem;
}

footer {
  background-color: var(--darkcol);
  padding: 3%;
  color: var(--vlightcol);
}

@media screen and (min-width: 600px) {
  .mainnav {
    flex-direction: row;
  }

  .mainnav a {
    padding: 10px 0px;
  }

  .claytonphoto {
    width: 280px;
  }
  .siteheading h1 {
    font-size: 3rem;
    padding: 3%;
  }
  .contactsbox {
    flex-direction: row;
    justify-content: center;
  }
}



@media screen and (min-width: 768px) {
  .mainnav {
    flex-direction: row;
    background-color: var(--mid3col);
    justify-content: flex-end;
  }

  .mainnav a {
    width: 25%;
    padding: 15px 0px;
  }

  h2 {
    margin-left: 10%;
  }

  .breakcont {
    margin-left: 25%;
  }

  .claytonphoto {
    width: 300px;
    padding: 3%;
  }

  .siteheading h1 {
    font-size: 5rem;
    padding: 3%;
  }

  .sc {
    display: flex;
    justify-content: space-between;
  }

  .smallcont {
    width: 46%;
    padding: 4% 0;
  }
}
